.headerMainContainer {
  display: flex;
  padding-bottom: 10px;
  position: relative;
  align-items: center;
  width: 100%;
  justify-content: center;

  .headerItemsContainer {
    height: fit-content;
    height: 100vh;
    padding: 10% 5%;

    @media (--small) {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @media (--large) {
      height: 100vh;
      width: 80%;

      padding: unset;
    }
  }

  &__welcome {
    display: none;
    background-color: rgb(97, 35, 212);
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
  }
}

.headerTitle {
  font-size: 3rem;
  font-weight: 100 !important;
  width: fit-content;
  line-height: 1.3;

  @media (--small) {
    font-size: 4rem;
    font-weight: 100;
    width: fit-content;
  }

  @media (--extraExtraLarge) {
    font-size: 5rem;
  }

  @media (--ultraLarge) {
    font-size: 7rem;
  }

  span {
    font-weight: 600;
  }
}

.headerSubtitle {
  font-size: 0.9rem;
  margin-left: 0;
  margin-top: 25px;
  margin-bottom: 50px;

  @media (--medium) {
    margin-top: 0;
  }

  @media (--extraExtraLarge) {
    font-size: 1.5rem;
    width: fit-content;
  }

  @media (--ultraLarge) {
    font-size: 2rem;
    margin-bottom: 50px;
    width: 800px;
  }

  a {
    text-decoration: underline;
    color: var(--orange);
    white-space: nowrap;

    @media (hover: hover) {
      &:hover {
        color: var(--softOrange);
      }
    }
  }
}

.headerContact {
  padding: 15px;
  text-decoration: none;
  border-radius: 25px;
  background-color: var(--orange);
  color: white !important;

  @media (--medium) {
    padding: 10px;
  }

  @media (--extraExtraLarge) {
    font-size: 1.6rem;
    padding: 20px;
    border-radius: 35px;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--softOrange);
    }
  }
}

.headerKnowledges {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: fit-content;
  align-items: center;
  margin-top: 50px;

  @media (--large) {
    width: 800px;
  }
}

.contactButtonAnimation {
  width: fit-content;
  height: fit-content;
}
