.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  gap: 20px;
  padding: 50px 0;
  margin-bottom: 100px;
  padding-bottom: 100px;
  width: 375px;

  @media (--large) {
    align-items: unset;
    gap: 70px;
    flex-direction: row;
    width: 1000px;
  }

  @media (--ultraLarge) {
    gap: 100px;
    width: 1400px;
  }

  &__item {
    height: fit-content;
    width: fit-content;

    &__itemA {
      composes: mainContainer__item;
      margin-top: 50px;

      @media (--large) {
        margin-top: -100px;
      }
    }

    &__itemB {
      composes: mainContainer__item;
      margin-top: -50px;
      @media (--large) {
        margin-top: -50px;
      }
    }

    &__itemC {
      composes: mainContainer__item;
    }
  }
}
