.button {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: var(--f-grotesque);
  color: white;
  background-color: transparent;
  border: 2px solid var(--white);
  border-radius: 30px;
  width: calc(692px / var(--retina-value));
  height: calc(133px / var(--retina-value));
  padding: 0 calc(20px / var(--retina-value));
  z-index: 10;

  &:active {
    background-color: var(--darker-orange);
  }

  .textContainer {
    display: flex;
    p {
      font-family: var(--f-mark);
      font-weight: normal;
      font-size: calc(45.5px / var(--retina-value));
      line-height: calc(51px / var(--retina-value));
      letter-spacing: normal;
    }
  }
  & span {
    margin-right: -10px;
    display: block;
    width: calc(67px / var(--retina-value));
    height: calc(67px / var(--retina-value));
    fill: var(--white);
    display: flex;
    margin-top: -1px;
    z-index: 10;

    & svg {
      width: calc(67px / var(--retina-value));
      height: calc(67px / var(--retina-value));
    }
  }
}
